.formulario{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px 50px;
	box-sizing: border-box;
}

.formulario input, .formulario button{
	margin: 20px 0;
}

.formulario button{
	border: none;
	color: #fff;
	background-image: linear-gradient(#D11212, #A51818);
	padding: 10px;
	box-sizing: border-box;
	cursor: pointer;
}